@import url('assests/base.css');
@import url('assests/btnstyle.css');
.active-page {
    display: block;
}
.hide-page {
    display: none;
}

.first-page-wrapper, .second-page-wrapper {
    width: 100%;
    height: 100vh;
}

.first-page-inner, .second-page-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* first page */

.first-page-inner > .button {
    margin-top: 30px;
}

.hint-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hint-wrapper > span {
    font-size: 40px;
}

.hide-hint > p{
    text-align: center;
}

/* second page */

.math-inner {
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.task {
    margin-bottom: 20px;
}

.task::after {
    content: url('assests/imagesandgifs/nian-cat.gif');
}

.small-gif {
    width: 200px;
}

.numberOne-wrap, .operator-wrap, .numberTwo-wrap {
    font-size: 25px;
}

.inputResult {
    width: 50px;
    border-bottom: 1px solid gray;
}

.inputResult.false {
    border-bottom: 3px solid red;
}

.inputResult[type="number"] {
    font-size: 25px;
    text-align: center;
}

.counter {
    margin-top: 30px;
}

#anim > span  {
    animation: .3s 0s 1 text normal both running linear;
    display: inline-block;
    font-size: 24px;
}
@keyframes text {
    0% {
      transform: translateY(-40px) rotate(45deg);
      opacity: 0;
    }
}

@media (max-width: 864px) {
    #anim > span {
        font-size: 18px;
    }
}

@media (max-width: 774px) {
    .task {
        font-size: 10px;
    }
}

@media (max-width: 654px) {
    #anim > span, .task {
        font-size: 8px;
    }

    #gifYR {
        max-width: 200px
    }
}
