@import url('../../base.css');
.snake-wrapper {
    width: 100%;
    height: 100vh;
}

.snake-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid rgb(151, 149, 149);
}